<header>
  <img src="./assets/pizza-logo-with-crowns-by-Vexels.svg" width="50px" height="50px">
  <nav>
    <a class="btn btn-primary" href="/home-page" role="button">Peça online</a>
    <a class="btn btn-primary" href="/cardapio" role="button">Cardápio</a>
    <a class="btn btn-primary" href="/localizacao" role="button">Localização</a>
    <a class="btn btn-primary" href="/historia" role="button">História</a>
  </nav>
</header>
<div class="container">
  <div class="wrap">
    <h1 class="title m-3">História</h1>
    <p>A origem da Faesa se deu em 1972 com oferta do curso de graduação de Administração. Em 1989, entrou em
      funcionamento o curso de Ciências Contábeis e o de Tecnologia em Processamento de Dados, transformado em
      bacharelado de Ciência da Computação (portaria ministerial 367/2000).</p>
    <p>Em 1981, foi criado o Centro de Pós-graduação com a oferta de cursos lato sensu.</p>
    <p>A história da Faesa - Campus II, em São Pedro, começa em 1995. Deu início com os cursos de Comunicação Social e
      Pedagogia, até então ofertados apenas pela Universidade Federal do Espírito Santo - Ufes. Três anos depois, em
      1998, foi implantado o curso de Odontologia. E em 2000, a Faesa ampliou sua oferta oferecendo para a comunidade
      capixaba os cursos de Agronomia, Ciências Biológicas, Educação Física, Enfermagem, Engenharia Ambiental,
      Fonoudiologia, Nutrição, Psicologia, Química e Terapia Ocupacional.</p>
    <p>Paralelo ao crescimento do Campus II da Faesa, o Campus I da Faesa teve autorizado pelo MEC o curso de Engenharia
      de Produção e os cursos sequenciais de Gerência de Marketing e Vendas e em Gerência de Pequenas e Médias Empresas.
      No ano seguinte, 2001, a Faesa recebeu autorização para a oferta de curso de graduação em Sistemas de Informação,
      Design de Moda e Vestuário, Design de Interiores e Ciências da Religião.</p>
    <p>Em Cariacica, nesse mesmo ano, a Faesa inaugura seu terceiro campus, que atualmente oferta os cursos de Direito e
      Administração.</p>
    <p>Resultado positivo - O resultado desse trabalho é a oferta de 36 cursos de graduação, incluindo bacharelado,
      licenciatura e tecnológico, mais de 12 mil alunos em sala de aula e 720 empregos diretos.</p>
    <p>O Centro de Pós-graduação, atualmente, possui novas dimensões atendendo as demandas regionais. São 38 cursos de
      especialização e cinco mestrados conveniados com universidades federais e estaduais brasileiras.
    </p>
  </div>
</div>
