/* You can add global styles to this file, and also import other style files */
header {
    padding: 1em;
    font-size: 140%;
    position: relative;
    left: 0;
    text-align: center;
    background-color: #98bbfb;
}

header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

nav a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 0 1em;
    margin-left: 10px;
    color: black;
}

article {

    padding: 1em;
    font-size: 140%;
    max-width: 800px;
    background: white;
    box-shadow: rgba(0, 0, 0, .05) 0 3px 15px;
}

article p {
    margin: 0;
    color: #333;
}

article p+p {
    margin-top: .7em;
}

@media (min-width: 500px) {
    header {
        text-align: left;
    }

    nav {
        float: right;
    }

    article {
        margin: 3.5em auto 0;
        padding: 2em;
    }
}

@media (min-width: 800px) {
    article {
        margin: 3.5em auto;
    }
}

/* And here's the magic! EQCSS.js required */
@element html,
body and (min-scroll-y: 100vh) {
    header {
        position: fixed;
        top: 0;
        background: white;
        box-shadow: rgba(0, 0, 0, .05) 0 3px 15px;
    }
}
  